/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@plugin "daisyui" {
    themes: fantasy --default;
}

label{
    color: grey !important;
}

select{
    width: 100% !important;
}
